openapi: 3.1.0
info:
  title: zsgo
  version: 1.0.0
  description: >-
    External API for third-party integrations with ZSGO invoicing platform.
    Supports document management, entity CRUD, products, and schedules.
    Available on every version with the API addon; the purchases, stocks and
    treasury/payments (supplier current account) endpoints require the PRO
    version (or a trial) and answer 403 on BASIC/LITE.


    ## Payment webhooks (LusoPay / IfThenPay)


    Besides the REST endpoints below, ZS GO can **notify your system** when a
    payment for a sales

    document is confirmed by LusoPay or IfThenPay. The company configures one
    webhook URL and one

    secret per payment entity in **Definições › Métodos de Pagamento** (the same
    screen offers a

    test button and this documentation). See the `webhooks` section of this
    document for the full

    request definitions.


    **Events**


    | Event | When |

    |---|---|

    | `receipt.created` | "Processar Pagamentos Automaticamente" is on: sent
    after the receipt is issued and the invoice marked as paid. |

    | `payment.received` | Automatic receipts are off: sent as soon as the
    entity confirms the payment (ZS GO does not change the document). Also sent
    with `receipt_created: false` when the paid amount differs from the invoice
    total (no receipt is issued). |

    | `webhook.test` | Sent from the "Testar webhook" button; payload carries
    `test: true` and sample data. |


    POS MB WAY payments never trigger the webhook.


    **Request**: `POST` with a JSON body (UTF-8) and headers `X-ZSGO-Event`,
    `X-ZSGO-Delivery`

    (unique event id, repeated on retries), `X-ZSGO-Timestamp` (Unix seconds)
    and

    `X-ZSGO-Signature` (`sha256=` + hex HMAC-SHA256 of `"{timestamp}.{raw
    body}"` using the entity

    secret). `User-Agent` is `ZSGO-Webhook/1.0`.


    **Response**: answer any **2xx** within **10 s**. Anything else (or a
    timeout) counts as a

    failure and the delivery is retried, **3 attempts** in total (+30 s, +120 s
    after the first),

    always with the same `event_id` and body. Use `event_id` to de-duplicate.


    **Verify the signature** (mandatory): read the raw body bytes, compute

    `HMAC-SHA256(secret, timestamp + "." + body)`, compare in constant time with
    the value after

    `sha256=`, and reject timestamps older than 5 minutes. Source IPs are not
    fixed: trust the

    signature, not the IP.
servers:
  - url: https://sandbox.zsgo.pt/api/v1/ext
tags:
  - name: Clients
    description: Manage customer records for the authenticated company, including
      listing, retrieval, creation, updates, and deletion.
  - name: Suppliers
    description: Manage supplier records for the authenticated company, including
      listing, retrieval, creation, updates, and deletion.
  - name: Families
    description: Manage product families used to classify catalog items for pricing,
      reporting, and filtering.
  - name: PaymentOptions
    description: Manage payment terms and payment option records used by customers,
      suppliers, and documents.
  - name: Products
    description: Manage product and service catalog records for the authenticated
      company, including listing, retrieval, creation, updates, and deletion.
  - name: Salesmen
    description: Manage salesperson records used for commercial assignment,
      filtering, and reporting.
  - name: Units
    description: Manage measurement units used by products, stock items, and document lines.
  - name: PaymentMethods
    description: Manage payment methods (Dinheiro, Cheque, Cartão…) available for
      sales, purchases, and treasury operations.
  - name: Warehouses
    description: List warehouses available for stock control, document creation, and
      inventory operations.
  - name: DocumentTypes
    description: List document types available for external API document creation
      and filtering.
  - name: Series
    description: List the document series available to the authenticated API key for
      document issuance and filtering.
  - name: Exemptions
    description: List VAT exemption codes available for products, customers,
      suppliers, and documents.
  - name: PriceLines
    description: List available price lines used to price customers and products.
  - name: Countries
    description: List countries available for addresses, customer and supplier
      records, and fiscal configuration.
  - name: Sales
    description: Manage sales documents for the authenticated company, including
      listing, retrieval, creation, and annulment.
  - name: Purchases
    description: Manage purchase documents for the authenticated company, including
      listing, retrieval, creation, updates, and annulment.
  - name: Stock
    description: Manage stock movement documents for the authenticated company,
      including listing, retrieval, creation, updates, and annulment.
  - name: Treasury Payments
    description: Manage supplier treasury payments and settlement allocations.
      Payments are always created as CAL documents in the API key dedicated
      series.
  - name: Treasury Receipts
    description: Manage customer treasury receipts and settlement allocations.
      Receipts are always created as RC documents in the API key dedicated
      series.
  - name: SAF-T Exports
    description: Start asynchronous SAF-T (PT) exports, poll their status and
      download the resulting file.
  - name: Schedules
    description: Manage recurring schedule definitions, previews, activation state,
      and next document generation.
  - name: Commissions
    description: Query salesperson commissions generated from closed sales documents.
  - name: Payment Webhooks
    description: "Outbound notifications ZS GO sends to a URL configured by the
      company for LusoPay / IfThenPay payments. Not an endpoint you call: your
      server receives these requests."
security:
  - https: []
paths:
  /clients:
    get:
      operationId: clients.index
      description: Returns paginated customer records visible to the authenticated API key.
      summary: List clients
      tags:
        - Clients
      parameters:
        - name: page
          in: query
          schema:
            type:
              - integer
              - "null"
            minimum: 1
        - name: per_page
          in: query
          schema:
            type:
              - integer
              - "null"
            minimum: 1
            maximum: 100
        - name: search
          in: query
          schema:
            type:
              - string
              - "null"
        - name: inactive
          in: query
          schema:
            type:
              - boolean
              - "null"
        - name: in_litigation
          in: query
          schema:
            type:
              - integer
              - "null"
            enum:
              - "0"
              - "1"
              - "2"
              - null
      responses:
        "200":
          description: Paginated client list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items: []
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      per_page:
                        type: integer
                      total_items:
                        type: integer
                      page_count:
                        type: integer
                    required:
                      - page
                      - per_page
                      - total_items
                      - page_count
                  errors:
                    type: object
                required:
                  - data
                  - meta
                  - errors
        "422":
          $ref: "#/components/responses/ValidationException"
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
    post:
      operationId: clients.store
      description: Creates a customer using the public nested client payload.
      summary: Create a client
      tags:
        - Clients
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertClientRequest"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: string
        "201":
          description: Client created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: []
                  meta:
                    type: object
                  errors:
                    type: object
                required:
                  - data
                  - meta
                  - errors
        "409":
          description: Client code already exists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    type: object
                  errors:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                      - message
                required:
                  - data
                  - meta
                  - errors
        "422":
          description: Validation or business rule error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    type: object
                  errors:
                    type: object
                    properties:
                      message:
                        type: string
                      fields:
                        type: array
                        items: []
                    required:
                      - message
                required:
                  - data
                  - meta
                  - errors
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
  /clients/{code}:
    get:
      operationId: clients.show
      description: Returns one customer by public client code.
      summary: Get a client
      tags:
        - Clients
      parameters:
        - name: code
          in: path
          required: true
          description: Client public code.
          schema:
            type: string
          example: CAPI001
      responses:
        "200":
          description: Client details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: []
                  meta:
                    type: object
                  errors:
                    type: object
                required:
                  - data
                  - meta
                  - errors
        "404":
          description: Client not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    type: object
                  errors:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                      - message
                required:
                  - data
                  - meta
                  - errors
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
    patch:
      operationId: clients.update
      description: Partially updates a customer by public client code.
      summary: Update a client
      tags:
        - Clients
      parameters:
        - name: code
          in: path
          required: true
          description: Client public code.
          schema:
            type: string
          example: CAPI001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertClientRequest"
      responses:
        "200":
          description: Client updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: []
                  meta:
                    type: object
                  errors:
                    type: object
                required:
                  - data
                  - meta
                  - errors
        "404":
          description: Client not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    type: object
                  errors:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                      - message
                required:
                  - data
                  - meta
                  - errors
        "422":
          description: Validation or business rule error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    type: object
                  errors:
                    type: object
                    properties:
                      message:
                        type: string
                      fields:
                        type: array
                        items: []
                    required:
                      - message
                required:
                  - data
                  - meta
                  - errors
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
    delete:
      operationId: clients.destroy
      description: Soft-deletes a customer when no documents are associated.
      summary: Delete a client
      tags:
        - Clients
      parameters:
        - name: code
          in: path
          required: true
          description: Client public code.
          schema:
            type: string
          example: CAPI001
      responses:
        "200":
          description: Client deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean
                    required:
                      - deleted
                  meta:
                    type: object
                  errors:
                    type: object
                required:
                  - data
                  - meta
                  - errors
        "404":
          description: Client not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    type: object
                  errors:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                      - message
                required:
                  - data
                  - meta
                  - errors
        "422":
          description: Client cannot be deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    type: object
                  errors:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                      - message
                required:
                  - data
                  - meta
                  - errors
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
  /commissions:
    get:
      operationId: commissions.index
      description: >-
        Filtros: document_id (transactionsale_id), date_from/date_to
        (document_date),

        document_status (int|array). Modo: ?group=document devolve o total por
        documento.
      summary: Lista as comissões da estrutura tenant (inv_document_commissions)
      tags:
        - Commissions
      parameters:
        - name: date_from
          in: query
          schema:
            type: string
        - name: date_to
          in: query
          schema:
            type: string
        - name: document_id
          in: query
          schema:
            type: string
        - name: group
          in: query
          schema:
            type: string
        - name: document_status
          in: query
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/DocumentCommission"
                  meta:
                    type:
                      - string
                      - object
                  errors:
                    type:
                      - string
                      - object
                required:
                  - data
                  - meta
                  - errors
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
  /countries:
    get:
      operationId: countries.index
      tags:
        - Countries
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: string
                  meta:
                    type:
                      - string
                      - object
                  errors:
                    type:
                      - string
                      - object
                required:
                  - data
                  - meta
                  - errors
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
  /document-types:
    get:
      operationId: documentTypes.index
      tags:
        - DocumentTypes
      parameters:
        - name: movementType
          in: query
          description: "Filter by category. Possible values: vendas, recibos, compras,
            stocks, avisos."
          schema:
            type: string
          example: vendas
      responses:
        "200":
          description: List of available document types for the authenticated company
            country.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        code:
                          type:
                            - string
                            - "null"
                        name:
                          type: string
                        movementType:
                          type: string
                        requires_tax_id:
                          type: boolean
                      required:
                        - id
                        - code
                        - name
                        - movementType
                        - requires_tax_id
                  meta:
                    type: object
                  errors:
                    type: object
                required:
                  - data
                  - meta
                  - errors
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
  /exemptions:
    get:
      operationId: exemptions.index
      tags:
        - Exemptions
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: string
                  meta:
                    type:
                      - string
                      - object
                  errors:
                    type:
                      - string
                      - object
                required:
                  - data
                  - meta
                  - errors
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
  /families:
    get:
      operationId: families.index
      tags:
        - Families
      parameters:
        - name: page
          in: query
          schema:
            type:
              - integer
              - "null"
            minimum: 1
        - name: per_page
          in: query
          schema:
            type:
              - integer
              - "null"
            minimum: 1
            maximum: 100
        - name: search
          in: query
          schema:
            type:
              - string
              - "null"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items: []
                  meta:
                    anyOf:
                      - type: object
                        properties:
                          page:
                            type: integer
                          per_page:
                            type: integer
                          total_items:
                            type: integer
                          page_count:
                            type: number
                        required:
                          - page
                          - per_page
                          - total_items
                          - page_count
                      - type: object
                  errors:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                required:
                  - data
                  - meta
                  - errors
        "422":
          $ref: "#/components/responses/ValidationException"
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
    post:
      operationId: families.store
      tags:
        - Families
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertFamilyRequest"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: string
        "201":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: []
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                required:
                  - data
                  - meta
                  - errors
        "422":
          $ref: "#/components/responses/ValidationException"
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
  /families/{id}:
    get:
      operationId: families.show
      tags:
        - Families
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: []
                  meta:
                    type:
                      - string
                      - object
                  errors:
                    type:
                      - string
                      - object
                required:
                  - data
                  - meta
                  - errors
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                            const: Family not found
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
    patch:
      operationId: families.update
      tags:
        - Families
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertFamilyRequest"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                anyOf:
                  - type: string
                  - type: object
                    properties:
                      data:
                        type: array
                        items: []
                      meta:
                        type:
                          - string
                          - object
                      errors:
                        type:
                          - string
                          - object
                    required:
                      - data
                      - meta
                      - errors
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                            const: Family not found
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
        "422":
          $ref: "#/components/responses/ValidationException"
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
    delete:
      operationId: families.destroy
      tags:
        - Families
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                anyOf:
                  - type: string
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          deleted:
                            type: boolean
                        required:
                          - deleted
                      meta:
                        type:
                          - string
                          - object
                      errors:
                        type:
                          - string
                          - object
                    required:
                      - data
                      - meta
                      - errors
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                            const: Family not found
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
        "422":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
  /payment-methods:
    get:
      operationId: paymentMethods.index
      tags:
        - PaymentMethods
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type:
                            - string
                            - "null"
                        name:
                          type:
                            - string
                            - "null"
                        short_name:
                          type:
                            - string
                            - "null"
                        only_sale:
                          type: boolean
                        only_financial:
                          type: boolean
                      required:
                        - id
                        - name
                        - short_name
                        - only_sale
                        - only_financial
                  meta:
                    type:
                      - string
                      - object
                  errors:
                    type:
                      - string
                      - object
                required:
                  - data
                  - meta
                  - errors
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
    post:
      operationId: paymentMethods.store
      tags:
        - PaymentMethods
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertPaymentMethodRequest"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: string
        "201":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: []
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                required:
                  - data
                  - meta
                  - errors
        "422":
          $ref: "#/components/responses/ValidationException"
  /payment-methods/{id}:
    get:
      operationId: paymentMethods.show
      tags:
        - PaymentMethods
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: []
                  meta:
                    type:
                      - string
                      - object
                  errors:
                    type:
                      - string
                      - object
                required:
                  - data
                  - meta
                  - errors
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                            const: Payment method not found
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
    patch:
      operationId: paymentMethods.update
      tags:
        - PaymentMethods
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertPaymentMethodRequest"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                anyOf:
                  - type: string
                  - type: object
                    properties:
                      data:
                        type: array
                        items: []
                      meta:
                        type:
                          - string
                          - object
                      errors:
                        type:
                          - string
                          - object
                    required:
                      - data
                      - meta
                      - errors
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                            const: Payment method not found
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
        "422":
          $ref: "#/components/responses/ValidationException"
    delete:
      operationId: paymentMethods.destroy
      tags:
        - PaymentMethods
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean
                    required:
                      - deleted
                  meta:
                    type:
                      - string
                      - object
                  errors:
                    type:
                      - string
                      - object
                required:
                  - data
                  - meta
                  - errors
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                            const: Payment method not found
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
        "422":
          description: ""
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      data:
                        type: "null"
                      meta:
                        anyOf:
                          - type: array
                            items:
                              type: string
                            minItems: 0
                            maxItems: 0
                          - type: object
                      errors:
                        anyOf:
                          - type: object
                            properties:
                              message:
                                type: string
                              fields:
                                type: string
                            required:
                              - message
                              - fields
                          - type: object
                    required:
                      - data
                      - meta
                      - errors
                  - type: object
                    properties:
                      data:
                        type: "null"
                      meta:
                        anyOf:
                          - type: array
                            items:
                              type: string
                            minItems: 0
                            maxItems: 0
                          - type: object
                      errors:
                        anyOf:
                          - type: object
                            properties:
                              message:
                                type: string
                                const: Payment method cannot be deleted because it is assigned
                              fields:
                                type: string
                            required:
                              - message
                              - fields
                          - type: object
                    required:
                      - data
                      - meta
                      - errors
  /payment-options:
    get:
      operationId: paymentOptions.index
      tags:
        - PaymentOptions
      parameters:
        - name: page
          in: query
          schema:
            type:
              - integer
              - "null"
            minimum: 1
        - name: per_page
          in: query
          schema:
            type:
              - integer
              - "null"
            minimum: 1
            maximum: 100
        - name: search
          in: query
          schema:
            type:
              - string
              - "null"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items: []
                  meta:
                    anyOf:
                      - type: object
                        properties:
                          page:
                            type: integer
                          per_page:
                            type: integer
                          total_items:
                            type: integer
                          page_count:
                            type: number
                        required:
                          - page
                          - per_page
                          - total_items
                          - page_count
                      - type: object
                  errors:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                required:
                  - data
                  - meta
                  - errors
        "422":
          $ref: "#/components/responses/ValidationException"
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
    post:
      operationId: paymentOptions.store
      tags:
        - PaymentOptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertPaymentOptionRequest"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: string
        "201":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: []
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                required:
                  - data
                  - meta
                  - errors
        "409":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                            const: Already exists a payment option with the same number of days
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
        "422":
          $ref: "#/components/responses/ValidationException"
  /payment-options/{id}:
    get:
      operationId: paymentOptions.show
      tags:
        - PaymentOptions
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: []
                  meta:
                    type:
                      - string
                      - object
                  errors:
                    type:
                      - string
                      - object
                required:
                  - data
                  - meta
                  - errors
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                            const: Payment option not found
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
    patch:
      operationId: paymentOptions.update
      tags:
        - PaymentOptions
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertPaymentOptionRequest"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                anyOf:
                  - type: string
                  - type: object
                    properties:
                      data:
                        type: array
                        items: []
                      meta:
                        type:
                          - string
                          - object
                      errors:
                        type:
                          - string
                          - object
                    required:
                      - data
                      - meta
                      - errors
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                            const: Payment option not found
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
        "409":
          description: ""
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      data:
                        type: "null"
                      meta:
                        anyOf:
                          - type: array
                            items:
                              type: string
                            minItems: 0
                            maxItems: 0
                          - type: object
                      errors:
                        anyOf:
                          - type: object
                            properties:
                              message:
                                type: string
                              fields:
                                type: string
                            required:
                              - message
                              - fields
                          - type: object
                    required:
                      - data
                      - meta
                      - errors
                  - type: object
                    properties:
                      data:
                        type: "null"
                      meta:
                        anyOf:
                          - type: array
                            items:
                              type: string
                            minItems: 0
                            maxItems: 0
                          - type: object
                      errors:
                        anyOf:
                          - type: object
                            properties:
                              message:
                                type: string
                                const: Already exists a payment option with the same number of days
                              fields:
                                type: string
                            required:
                              - message
                              - fields
                          - type: object
                    required:
                      - data
                      - meta
                      - errors
        "422":
          $ref: "#/components/responses/ValidationException"
    delete:
      operationId: paymentOptions.destroy
      tags:
        - PaymentOptions
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean
                    required:
                      - deleted
                  meta:
                    type:
                      - string
                      - object
                  errors:
                    type:
                      - string
                      - object
                required:
                  - data
                  - meta
                  - errors
        "404":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                            const: Payment option not found
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
        "422":
          description: ""
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      data:
                        type: "null"
                      meta:
                        anyOf:
                          - type: array
                            items:
                              type: string
                            minItems: 0
                            maxItems: 0
                          - type: object
                      errors:
                        anyOf:
                          - type: object
                            properties:
                              message:
                                type: string
                              fields:
                                type: string
                            required:
                              - message
                              - fields
                          - type: object
                    required:
                      - data
                      - meta
                      - errors
                  - type: object
                    properties:
                      data:
                        type: "null"
                      meta:
                        anyOf:
                          - type: array
                            items:
                              type: string
                            minItems: 0
                            maxItems: 0
                          - type: object
                      errors:
                        anyOf:
                          - type: object
                            properties:
                              message:
                                type: string
                                const: Payment option cannot be deleted because it is assigned
                              fields:
                                type: string
                            required:
                              - message
                              - fields
                          - type: object
                    required:
                      - data
                      - meta
                      - errors
  /price-lines:
    get:
      operationId: priceLines.index
      tags:
        - PriceLines
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: string
                  meta:
                    type:
                      - string
                      - object
                  errors:
                    type:
                      - string
                      - object
                required:
                  - data
                  - meta
                  - errors
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
  /products:
    get:
      operationId: products.index
      description: Returns paginated product and service catalog records.
      summary: List products
      tags:
        - Products
      parameters:
        - name: page
          in: query
          schema:
            type:
              - integer
              - "null"
            minimum: 1
        - name: per_page
          in: query
          schema:
            type:
              - integer
              - "null"
            minimum: 1
            maximum: 100
        - name: search
          in: query
          schema:
            type:
              - string
              - "null"
      responses:
        "200":
          description: Paginated product list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items: []
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      per_page:
                        type: integer
                      total_items:
                        type: integer
                      page_count:
                        type: integer
                    required:
                      - page
                      - per_page
                      - total_items
                      - page_count
                  errors:
                    type: object
                required:
                  - data
                  - meta
                  - errors
        "422":
          $ref: "#/components/responses/ValidationException"
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
    post:
      operationId: products.store
      description: Creates a product or service using the public nested product payload.
      summary: Create a product
      tags:
        - Products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertProductRequest"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: string
        "201":
          description: Product created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: []
                  meta:
                    type: object
                  errors:
                    type: object
                required:
                  - data
                  - meta
                  - errors
        "422":
          description: Validation or business rule error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    type: object
                  errors:
                    type: object
                    properties:
                      message:
                        type: string
                      fields:
                        type: array
                        items: []
                    required:
                      - message
                required:
                  - data
                  - meta
                  - errors
  /products/{reference}:
    get:
      operationId: products.show
      description: Returns one product or service by public reference.
      summary: Get a product
      tags:
        - Products
      parameters:
        - name: reference
          in: path
          required: true
          description: Product public reference.
          schema:
            type: string
          example: PROD-API-001
      responses:
        "200":
          description: Product details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: []
                  meta:
                    type: object
                  errors:
                    type: object
                required:
                  - data
                  - meta
                  - errors
        "404":
          description: Product not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    type: object
                  errors:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                      - message
                required:
                  - data
                  - meta
                  - errors
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
    patch:
      operationId: products.update
      description: Partially updates a product or service by public reference.
      summary: Update a product
      tags:
        - Products
      parameters:
        - name: reference
          in: path
          required: true
          description: Product public reference.
          schema:
            type: string
          example: PROD-API-001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertProductRequest"
      responses:
        "200":
          description: Product updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: []
                  meta:
                    type: object
                  errors:
                    type: object
                required:
                  - data
                  - meta
                  - errors
        "404":
          description: Product not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    type: object
                  errors:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                      - message
                required:
                  - data
                  - meta
                  - errors
        "422":
          description: Validation or business rule error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    type: object
                  errors:
                    type: object
                    properties:
                      message:
                        type: string
                      fields:
                        type: array
                        items: []
                    required:
                      - message
                required:
                  - data
                  - meta
                  - errors
    delete:
      operationId: products.destroy
      description: Hides a product or service when no documents are associated.
      summary: Delete a product
      tags:
        - Products
      parameters:
        - name: reference
          in: path
          required: true
          description: Product public reference.
          schema:
            type: string
          example: PROD-API-001
      responses:
        "200":
          description: Product deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean
                    required:
                      - deleted
                  meta:
                    type: object
                  errors:
                    type: object
                required:
                  - data
                  - meta
                  - errors
        "404":
          description: Product not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    type: object
                  errors:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                      - message
                required:
                  - data
                  - meta
                  - errors
        "422":
          description: Product cannot be deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    type: object
                  errors:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                      - message
                required:
                  - data
                  - meta
                  - errors
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
  /purchases:
    get:
      operationId: purchases.index
      description: Returns paginated purchase documents for the API key dedicated series.
      summary: List purchase documents
      tags:
        - Purchases
      parameters:
        - name: page
          in: query
          schema:
            type:
              - integer
              - "null"
            minimum: 1
        - name: per_page
          in: query
          schema:
            type:
              - integer
              - "null"
            minimum: 1
            maximum: 100
        - name: search
          in: query
          schema:
            type:
              - string
              - "null"
        - name: status
          in: query
          schema:
            type:
              - string
              - "null"
      responses:
        "200":
          description: Paginated purchase document list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items: []
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      per_page:
                        type: integer
                      total_items:
                        type: integer
                      page_count:
                        type: integer
                    required:
                      - page
                      - per_page
                      - total_items
                      - page_count
                  errors:
                    type: object
                required:
                  - data
                  - meta
                  - errors
        "422":
          $ref: "#/components/responses/ValidationException"
        "500":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    anyOf:
                      - type: array
                        items:
                          type: string
                        minItems: 0
                        maxItems: 0
                      - type: object
                  errors:
                    anyOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          fields:
                            type: string
                        required:
                          - message
                          - fields
                      - type: object
                required:
                  - data
                  - meta
                  - errors
    post:
      operationId: purchases.store
      description: Creates and finalizes a purchase document in the API key dedicated
        series.
      summary: Create a purchase document
      tags:
        - Purchases
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertPurchaseRequest"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: string
        "201":
          description: Purchase document created and finalized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: []
                  meta:
                    type: object
                  errors:
                    type: object
                required:
                  - data
                  - meta
                  - errors
        "422":
          description: Validation or finalization error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    type: object
                  errors:
                    type: object
                    properties:
                      message:
                        type: string
                      fields:
                        type: array
                        items: []
                    required:
                      - message
                required:
                  - data
                  - meta
                  - errors
        "500":
          description: ""
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      data:
                        type: "null"
                      meta:
                        anyOf:
                          - type: array
                            items:
                              type: string
                            minItems: 0
                            maxItems: 0
                          - type: object
                      errors:
                        anyOf:
                          - type: object
                            properties:
                              message:
                                type: string
                                const: Purchase not found after creation
                              fields:
                                type: string
                            required:
                              - message
                              - fields
                          - type: object
                    required:
                      - data
                      - meta
                      - errors
                  - type: object
                    properties:
                      data:
                        type: "null"
                      meta:
                        anyOf:
                          - type: array
                            items:
                              type: string
                            minItems: 0
                            maxItems: 0
                          - type: object
                      errors:
                        anyOf:
                          - type: object
                            properties:
                              message:
                                type: string
                                const: Purchase could not be created
                              fields:
                                type: string
                            required:
                              - message
                              - fields
                          - type: object
                    required:
                      - data
                      - meta
                      - errors
  /purchases/{id}:
    get:
      operationId: purchases.show
      description: Returns one purchase document with public payload and PDF URL when
        available.
      summary: Get a purchase document
      tags:
        - Purchases
      parameters:
        - name: id
          in: path
          required: true
          description: Purchase document ID.
          schema:
            type: string
          example: "1001"
        - name: pdf
          in: query
          description: "Deprecated and ignored: the response always includes pdf_url, an
            authenticated link that renders the PDF on demand."
          schema:
            type: boolean
            default: true
          example: false
      responses:
        "200":
          description: Purchase document details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: []
                  meta:
                    type: object
                  errors:
                    type: object
                required:
                  - data
                  - meta
                  - errors
        "404":
          description: Purchase document not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    type: object
                  errors:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                      - message
                required:
                  - data
                  - meta
                  - errors
        "422":
          description: Business rule error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: "null"
                  meta:
                    type: object
                  errors:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                      - message
                required:
                  - data
                  - meta
                  - errors
        "500":
          description: ""
[...]
